* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: #0c0b0b;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
#header {
  padding: 30px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 700px;
}
.header-nav a {
  color: #f6f0f0;
  font-size: 16px;
  font-weight: 400;
  margin: 0 30px;
}
.header button {
  padding: 10px 30px;
  border-radius: 3px;
  background: rgba(red, rgb(253, 255, 253), blue, alpha);
  box-shadow: 0px 15px 30px 0px rgba(rgb(0, 0, 0), green, blue, alpha);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
#hero {
  padding: 150px 0;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero h3 {
  color: var(--Green, #16fcd2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.hero h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px; /* 150% */
}
.hero p {
  color: var(--Muted, rgba(255, 255, 255, 0.6));
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; /* 200% */
  margin-bottom: 38px;
}
.btn-left {
  padding: 15px 55px;
  border-radius: 3px;
  background: #6016fc;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.btn-right {
  padding: 15px 55px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-left: 25px;
}
.bloks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blok {
  width: 328px;
  height: 276px;
  border-radius: 5px;
  background: var(--light, rgba(255, 255, 255, 0.304));
  padding: 32px 0 0 40px;
}
.blok h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 700px;
  padding-bottom: 8px;
}
.blok p {
  color: var(-- --Muted, rgba(255, 255, 255, 0.6));
  font-size: 16px;
  font-weight: 600;
  line-height: 32px; /*200 */
  width: 239px;
}
.blok img {
  margin-bottom: 29px;
}
#footer {
  padding: 30px 0;
}
.footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
